<template>
  <footer class="page-footer">

<!--    <div class="container">-->

<!--      &lt;!&ndash; Grid row&ndash;&gt;-->
<!--      <div class="row py-4 d-flex align-items-center">-->

<!--        &lt;!&ndash; Grid column &ndash;&gt;-->
<!--        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">-->
<!--          <h6 class="mb-0">Мы в социальных сетях!</h6>-->
<!--        </div>-->
<!--        &lt;!&ndash; Grid column &ndash;&gt;-->

<!--        &lt;!&ndash; Grid column &ndash;&gt;-->
<!--        <div class="col-md-6 col-lg-7 text-center text-md-right">-->

<!--          &lt;!&ndash; Facebook &ndash;&gt;-->
<!--          <a class="fb-ic">-->
<!--            <i class="fab fa-facebook-f white-text mr-4"> </i>-->
<!--          </a>-->
<!--          &lt;!&ndash; Twitter &ndash;&gt;-->
<!--          <a class="tw-ic">-->
<!--            <i class="fab fa-twitter white-text mr-4"> </i>-->
<!--          </a>-->
<!--          &lt;!&ndash; Google +&ndash;&gt;-->
<!--          <a class="gplus-ic">-->
<!--            <i class="fab fa-google-plus-g white-text mr-4"> </i>-->
<!--          </a>-->
<!--          &lt;!&ndash;Linkedin &ndash;&gt;-->
<!--          <a class="li-ic">-->
<!--            <i class="fab fa-linkedin-in white-text mr-4"> </i>-->
<!--          </a>-->
<!--          &lt;!&ndash;Instagram&ndash;&gt;-->
<!--          <a class="ins-ic">-->
<!--            <i class="fab fa-instagram white-text"> </i>-->
<!--          </a>-->

<!--        </div>-->
<!--        &lt;!&ndash; Grid column &ndash;&gt;-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid row&ndash;&gt;-->

<!--      <hr class="my-0">-->

<!--    </div>-->


    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase  text-dark font-weight-bold">Для абитуриентов</h6>

          <ul class="list-unstyled">
            <li><a class="link" href="#">Личный кабинет</a></li>
            <li><a class="link" href="#">Форум</a></li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase text-dark font-weight-bold">Testlab</h6>
          <ul class="list-unstyled">
            <li><a class="link" href="#">О компании</a></li>
            <li><a class="link" href="#">Партнерская программа</a></li>
            <li><a class="link" href="#">Связаться с нами</a></li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="container">
      <hr class="my-0">
      <div class="footer-copyright text-black-50 py-4">©
        <a class="link" href="https://mdbootstrap.com/education/bootstrap/"> Testlab.kg</a>
      </div>
    </div>
    <!-- Copyright -->

  </footer>
</template>

<script>
  export default {
    name: 'main-footer'
  }
</script>