<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center my-auto py-4">
        <h1 class="text-uppercase font-weight-bold">Онлайн тестинговая платформа</h1>
        <p class="lead">Ощутите погружение в технологии будущего.</p>
        <a class="btn btn-lg btn-gradient" href="/" role="button">Начать тест &raquo;</a>
      </div>
      <div class="col-lg-8">
        <img class="img-fluid my-5" src="../../assets/images/test-macbook-pro-3.png" alt="Тестинговая платформа Testlab">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "banner"
  }
</script>