<template>
  <section class="features-icons text-center py-5 bg-light">
    <h1 class="font-weight-light">Преимущества онлайн тестирования с TestLab</h1>
    <div class="gradient-line mb-5"></div>
    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon mb-3">
              <img class="m-auto" src="https://image.flaticon.com/icons/svg/2468/2468263.svg" alt="" width="80">
            </div>
            <h5 class="mb-3">Кроссплатформенность</h5>
            <p class="mb-0">Преимущественно адаптирован под все устройства - будь то мобильный, веб или планшет</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon mb-3">
              <img class="m-auto" src="https://image.flaticon.com/icons/svg/2468/2468235.svg" alt="" width="80">
            </div>
            <h5 class="mb-3">Анализ результатов</h5>
            <p class="mb-0">С Testlab вы получаете точные результаты тестов при полной активности. Отслеживайте ваш текущий прогресс.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon mb-3">
              <img class="m-auto" src="https://image.flaticon.com/icons/svg/1472/1472030.svg" alt="" width="80">
            </div>
            <h5 class="mb-3">Интерактивный режим</h5>
            <p class="mb-0">Совершенствуйте свои навыки в интерактивном режиме. Не требуется загрузка или установка программного обеспечения.</p>
          </div>
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </section>
</template>

<script>
  export default {
    name: "features-overview"
  }
</script>