<template>
  <section class="py-5">
    <div class="container">
      <h1 class="text-center font-weight-light">Узнайте ваш уровень знаний за 5 минут</h1>
      <div class="gradient-line mb-5"></div>
      <div class="row">
        <div class="col-lg-6 try-test-img"></div>
        <div class="col-lg-6">
          <div class="card bg-light">
            <div class="card-body p-0">
              <nav class="mt-2">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link ml-2 active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">ОРТ</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">НЦТ</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">TOEFL</a>
                </div>
              </nav>
              <div class="tab-content bg-white p-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <h4 class="font-weight-light mb-4">Подберите аналогию к заданной паре слов</h4>
                  <p class="font-weight-bold text-muted">Взлететь - высота</p>
                  <form action="">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio1">участвовать - победа</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio2">делить - справедливость</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3">красить - цвет</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio4">сидеть - усталость</label>
                    </div>
                    <button class="btn btn-gradient mt-4">Начать сейчас</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Hello</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">World</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "try-test"
  }
</script>

<style scoped>
  .try-test-img {
    background: url(../../assets/images/6628617_preview.png) center center no-repeat; background-size: cover;
  }
</style>