.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

.card:hover {
  box-shadow: 0 0 10px #ccc;
}

.nav-scroller {
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .935rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.link {
  color: #6c757d;
}

.link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.widget-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
  url(https://www.ila-france.com/wp-content/uploads/2017/01/french-test-1750x660-1.jpg) center center no-repeat;
  background-size: cover; 
}

.btn-gradient {
  color: white;
  background: linear-gradient(30deg,#0ca2e0 0%,#27dde8 100%);
}

.btn-gradient:hover {
  color: white;
  background: linear-gradient(30deg,#1cd9ea 0%,#0ca2e0 100%);
}

.gradient-line {
  width: 30%;
  height: 2px;
  margin: 0 auto;
  background: linear-gradient(30deg,#0ca2e0 0%,#27dde8 100%) !important;
}

@media (max-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}