<template>
  <div id="quiz" class="container">
    <h4 class="mt-3">Аналогия и дополнение</h4>

    <hr class="mt-1">

    <div>
      <quiz-timeline
          :timelines="questions.length"
          :currentSlide="currentSlide"
          @update:slide="updateSlide"
      />
      <quiz-questions
          :questions="questions"
          :currentSlide="currentSlide"
          :isSubmitBtnSeen="isSubmitBtnSeen"
          :isPrevBtnSeen="isPrevBtnSeen"
          :isNextBtnSeen="isNextBtnSeen"
          @update:slide="updateSlide"
      />
    </div>
    <hr>
  </div>
</template>

<script>
  import QuizQuestions from "@/components/quiz/QuizQuestions";
  import QuizTimeline from "@/components/quiz/QuizTimeline";

  export default {
    name: "quiz",
    components: {
      QuizQuestions,
      QuizTimeline,
    },
    data() {
      return {
        currentSlide: 1,
        isSubmitBtnSeen: false,
        isPrevBtnSeen: false,
        isNextBtnSeen: true,
        questions: [],
      }
    },
    methods: {
      updateSlide(n) {
        if (n > this.questions.length || n < 1) return;

        this.currentSlide = n;
        this.isPrevBtnSeen = this.currentSlide !== 1;

        if (this.currentSlide === this.questions.length) {
          this.isNextBtnSeen = false;
          this.isSubmitBtnSeen = true;
        } else {
          this.isNextBtnSeen = true;
          this.isSubmitBtnSeen = false;
        }
      },
    },
    async mounted() {
      this.questions = await this.$store.dispatch('getQuestionsByTestId', this.$route.params.test_id);
      console.log(this.questions);
    }
  }
</script>

<style scoped>

</style>
