<template>
  <div class="quiz-timeline mb-3 px-3 d-flex justify-content-between">
    <div>
      <span
          v-for="n in timelines"
          :key="n"
          :class="{'quiz-timeline-number': true, 'quiz-timeline-number-current': n === currentSlide}"
          @click="updateSlide(n)"
      >
        {{ n }}
      </span>
    </div>
    <div>
      Оставшееся время: {{ timerCount }}
    </div>
  </div>
</template>

<script>
  export default {
    name: "quiz-timeline",
    props: {
      timelines: Number,
      currentSlide: Number
    },
    data() {
      return {
        total_time: 30 * 60,
        timerCount: 1,
      }
    },
    watch: {
      timerCount: {
        handler(value) {
          if (value > 0) {
            let timeInterval = setInterval(() => {
              let minutes = parseInt(this.total_time / 60);
              let seconds = this.total_time % 60;

              minutes = minutes < 10 ? "0" + minutes : minutes;
              seconds = seconds < 10 ? "0" + seconds : seconds;

              this.timerCount = minutes + ":" + seconds;

              if (--this.total_time < 0) {
                clearInterval(timeInterval);
              }
            }, 1000);
          }
        },
        immediate: true // This ensures the watcher is triggered upon creation
      }
    },
    methods: {
      updateSlide(n) {
        this.$emit('update:slide', n);
      },
    },
  }
</script>

<style scoped>
  .quiz-timeline {
    font-size: 14px;
    padding: 5px;
    white-space: nowrap;
    border: 1px solid #eee;
    border-radius: 3px;
    overflow-y: auto;
  }
  .quiz-timeline-number-current ~ .quiz-timeline-number {
    color: #333;
  }
  .quiz-timeline-number {
    display: inline-block;
    width: 20px;
    margin: 0 8px;
    line-height: inherit;
    text-align: center;
    color: #f8ab47;
    cursor: pointer;
    border-radius: 10px;
  }
  .quiz-timeline-number:not(.quiz-timeline-number-current):hover {
    background-color: antiquewhite;
  }
  .quiz-timeline-number-current {
    color: #fff;
    background-color: #f8ab47;
  }
</style>