<template>
  <div class="quiz-container px-4">
    <form @submit.prevent="handleSubmit">
      <div class="quiz-body">
        <div
            v-for="(question, slide_id) in questions"
            :key="question.id"
            v-show="slide_id+1 === currentSlide"
        >
          <div class="question my-4" v-html="question.text"></div>
          <fieldset class="answers" :id="question.id">
            <label v-for="answer in question.answers" :key="answer.id">
              <input
                  :type="getInputType(question.type)"
                  :name="question.id"
                  :value="answer.text"
              />
              <span v-html="answer.text"></span>
            </label>
          </fieldset>
        </div>
      </div>
      <div class="quiz-footer pb-4">
        <button :class="['btn btn-secondary mr-2', {'disabled': !isPrevBtnSeen}]" @click="showPreviousSlide">&#8249;</button>
        <button :class="['btn btn-secondary', {'disabled': !isNextBtnSeen}]" @click="showNextSlide">&#8250;</button>
        <button class="btn d-block btn-gradient mt-4" id="submit" v-if="isSubmitBtnSeen">Завершить тест</button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    name: "quiz-questions",
    props: {
      questions: Array,
      currentSlide: Number,
      isSubmitBtnSeen: Boolean,
      isPrevBtnSeen: Boolean,
      isNextBtnSeen: Boolean,

    },
    data(){
      return {
        typesMap: {
          "1": "radio",
          "2": "checkbox",
          "3": "text"
        }
      }
    },
    mounted() {
      this.showSlide(1);
    },

    methods: {
      showSlide(n) {
        this.$emit('update:slide', n);
      },

      showNextSlide() {
        this.showSlide(this.currentSlide + 1);
      },

      showPreviousSlide() {
        this.showSlide(this.currentSlide - 1);
      },

      handleSubmit() {
        return undefined;
      },

      getInputType(n) {
        return this.typesMap[n];
      }
    }
  }
</script>

<style scoped>
  .quiz-container {
    border: 1px solid #eee;
    border-radius: 3px;
  }
  .answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
  }
  .answers label{
    display: block;
    margin-bottom: 10px;
  }
</style>
