<template>
  <div>
    <top-nav />
    <sub-nav :categories="categories" />
  </div>
</template>

<script>
  import TopNav from "./TopNav";
  import SubNav from "./SubNav";

  export default {
    name: "main-navbar",
    components: {
      TopNav,
      SubNav
    },
    data() {
      return {
        categories: []
      }
    },

    async mounted() {
      console.log(1);
      await this.$store.dispatch('fetchMainCategories');
      this.categories = this.$store.getters.main_categories;
    },
  }
</script>