<template>
  <div class="bg-light border-bottom">
    <div class="container">
      <div class="nav-scroller">
        <nav class="nav nav-underline">
          <router-link
              v-for="(category, categoryInx) in categories"
              :key="categoryInx"
              :to="`/category/${category.slug}/${category.child_slug}`"
              class="nav-link"
              :class="{active: category.slug === $route.params.category}"
          >
            {{ category.title }}
          </router-link>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "sub-nav",
    props: {
      categories: {
        type: Array,
        required: true
      }
    }
  }
</script>

<style scoped>
  .nav-scroller {
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-underline .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-right: 2rem;
    font-size: .935rem;
    font-weight: 500;
    color: #6c757d;
  }

  .nav-underline .nav-link:first-child {
    padding-left: 0;
  }

  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  .nav-underline .active {
    color: #0ca2e0;
    padding-bottom: 0px;
    margin-bottom: 1px;
    border-bottom: 2px solid #0ca2e0;
  }

</style>