<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container">
      <router-link to="/home" class="navbar-brand font-weight-bold">TestLab</router-link>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Язык <img src="https://image.flaticon.com/icons/svg/555/555451.svg" alt="" width="18">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="#">Кыргызча</a>
              <a class="dropdown-item" href="#">Русский</a>
            </div>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Обратная связь <i class="fas fa-headphones-alt"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="#">Написать письмо</a>
              <a class="dropdown-item" href="#">Обратный звонок</a>
              <a class="dropdown-item" href="#">Вопросы сотрудничества</a>
              <a class="dropdown-item" href="#">Контактная информация</a>
            </div>
          </li> -->
          <li class="nav-item">
            <router-link to="/login" class="nav-link" >Войти <i class="fas fa-user"></i></router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    name: "top-nav"
  }
</script>

<style scoped>

</style>