<template>
  <div id="test-options">
    <div class="widget-bg py-5 text-white rounded"></div>
    <div  v-for="category in categoryTests"
          :key="category.slug"
    >
      <hr>
      <h3 class="mb-4">{{ category.title }}</h3>
      <div class="row">
        <div
          v-for="test in category.tests"
          :key="test.id"
          class="col-sm-6 col-lg-6"
        >
          <TestPreview :test="test"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import TestPreview from '@/components/test/TestPreview'
export default {
  name: "CategoryTests",
  props: {
    categoryTests: {
      type: Array,
      required: true
    }
  },
  components: {
    TestPreview
  }
}
</script>

<style scoped>
  .widget-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://www.ila-france.com/wp-content/uploads/2017/01/french-test-1750x660-1.jpg) center center no-repeat;
    background-size: cover;
  }
</style>
