<template>
	<div class="list-group">
		<h6 class="list-group-item mb-0">Категории</h6>
		<router-link
				v-for="(cat, i) in categories"
				:key="i"
				:to="`/category/${$route.params.category}/${cat.slug}`"
				class="d-flex justify-content-between list-group-item"
				:class="{active: cat.slug === $route.params.subcategory}"
		>
			<span>{{ cat.title }}</span>
			<span class="badge badge-secondary">
				{{ cat.test_count }}
			</span>
		</router-link>
	</div>
</template>

<script>
	export default {
		name: "SubCategories",
		props: {
			categories: {
				type: Array,
				required: true
			}
		},

	}
</script>

<style scoped>
    .list-group {
        border-radius: 3px;
    }
    a {
        color: #607D8B;
    }
</style>