<template>
  <router-link  :to="`/tests/${test.id}/info`"
                class="text-dark card mb-4"
                style="text-decoration: none;"
  >
    <div class="card-header">
      <h6 class="mb-0">{{ test.title }}</h6>
    </div>
    <div class="card-body row text-center">
      <div class="col">
        <div><b>{{ test.duration }} мин</b></div>
        <div class="text-uppercase text-muted small">Время</div>
      </div>
      <div class="col">
        <div><b>{{ test.questions_count }}</b></div>
        <div class="text-uppercase text-muted small">вопросов</div>
      </div>
      <div class="col">
        <div><b>{{ test.views }}</b></div>
        <div class="text-uppercase text-muted small">Просмотров</div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "TestPreview",
  props: {
    test: {
      type: Object,
      required: true
    }
  }
}

</script>
