<template>
  <div class="list-group list-group-flush border bg-light mb-3">
    <h6 class="list-group-item mb-0 border-bottom-0 bg-light text-uppercase">Категории</h6>
    <router-link
      v-for="(test, i) in tests"
      :key="i"
      :to="test.slug"
      class="d-flex justify-content-between list-group-item bg-light font-weight-bold"
    >
      <span>{{ test.title }}</span>
      <span class="text-info">
        {{ test.test_count }}
      </span>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: "TestCategories",
    props: {
      tests: {
        type: Array,
        required: true
      }
    }
  }
</script>

<style scoped> 
  .list-group {
    border-radius: 3px;
  } 

  a {
    color: #607D8B;
  } 
</style>