<template>
  <div>
    <div>
      <div class="card mb-3">
        <div class="row no-gutters p-3">
          <div class="col-md-2">
            <img src="https://via.placeholder.com/131" class="card-img" alt="..." />
            <span class="badge badge-success">Русский язык</span>
          </div>
          <div class="col-md-10">
            <div class="card-body py-0">
              <h3 class="card-title d-flex justify-content-between">
                <router-link to="/info/ort/1" class="text-dark">Аналогия и дополнение</router-link>
              </h3>
              <p class="card-text mb-0">
                Автор:
                <a href="#">Азамат Соодаев</a>
              </p>
              <div class="rating">
                <span class="rating-star-active">★</span>
                <span class="rating-star-active">★</span>
                <span class="rating-star-active">★</span>
                <span class="rating-star-active">★</span>
                <span class="rating-star-inactive">☆</span>
                <span class="total ml-2">4.2</span>
              </div>
              <p class="card-text border-top mt-2 pt-2">
                <small class="text-muted cat">
                  <i class="far fa-clock text-info"></i> 30 минут
                  <i class="fas fa-users text-info ml-3"></i> 4 участников
                  <i class="fas fa-tasks text-info ml-3"></i> 30 заданий
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "test-variants",
  data() {
    return {
      tests: [
        {
          id: 1,
          title: 'Аналогия и дополнение',
          category: 'Русский язык',
          author: 'Азамат Соодаев',
          image: 'https://via.placeholder.com/131', 
          price: 190,
          rating: 4.2,
          time: 30,
          participants: 4,
          task_count: 30, 
          slug: 'anoglogiya-i-dopolnenie'
        }
      ]
    }
  }
};
</script>

<style scoped>
.rating-star-active {
  color: #f2d073;
}

.rating-star-inactive {
  color: #d5dadb;
}

.badge-success {
  background-color: #5ebe92 !important;
  position: absolute;
  bottom: 0;
  left: 0;
}
</style>