<template>
  <div id="test-options">   
    <div
      v-for="(test, tInx) in tests"
      :key="tInx"
    >
      <hr>
      <h5 class="mb-4">{{ test.title }}</h5>

      <div class="row">
        <div
          v-for="(child, tInx) in test.children"
          :key="tInx"
          class="col-sm-6 col-lg-6"
        >
          <router-link
            :to="child.slug"
            class="text-dark"
            style="text-decoration: none;"
          >
            <div class="card mb-4">
              <div class="card-header">
                <h6 class="mb-0">{{ child.title }}</h6>
              </div>
              <div class="card-body row text-center">
               <div class="col">-->
                 <div><b>{{ child.time }} мин</b></div>
                 <div class="text-uppercase text-muted small">Время</div>
               </div>
                <div class="col">
                  <div><b>{{ child.test_count }}</b></div>
                  <div class="text-uppercase text-muted small">Задания</div>
                </div>
               <div class="col">
                 <div><b>{{ test.views }}</b></div>
                 <div class="text-uppercase text-muted small">Просмотров</div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "test-options",
    props: {
      tests: {
        type: Array,
        required: true
      },
    }
  }
</script>

<style scoped>

</style>