<template>
  <div>
    <main-navbar />
    <slot />
    <main-footer />
  </div>
</template>

<script>
  import MainNavbar from "../components/layout/MainNavbar/MainNavbar";
  import MainFooter from "../components/layout/MainFooter/MainFooter";

  export default {
    name: 'default-user-layout',
    components: {
      MainNavbar,
      MainFooter
    },
  }
</script>