{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}TestLab - Подготовка к тестированию{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Fonts -->
	<script src="https://kit.fontawesome.com/f44c30b1fe.js" crossorigin="anonymous"></script>

	<!-- Custom styles -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/pricing.css' %}">
</head>
<body>

	{% include 'include/header.html' %}
	
	{% block content %}{% endblock %}

	{% include 'include/footer.html' %}


	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
