{% extends 'base.html' %}

{% block content %}
<div class="pt-4 pb-5">
  <div class="container">

    <div class="row">

      <!-- Sidebar widget -->
      <div class="col-lg-3">
        <div class="list-group">
          <h6 class="list-group-item mb-0 active">Категории</h6>
          <a href="#" class="d-flex justify-content-between list-group-item">Основной тест <span class="badge badge-secondary">1</span></a>
          <a href="#" class="d-flex justify-content-between list-group-item">Математика <span class="badge badge-secondary">4</span></a>
          <a href="#" class="d-flex justify-content-between list-group-item">Русский язык <span class="badge badge-secondary">5</span></a>
          <a href="#" class="d-flex justify-content-between list-group-item">Английский язык <span class="badge badge-secondary">11</span></a>
          <a href="#" class="d-flex justify-content-between list-group-item">История <span class="badge badge-secondary">5</span></a>
          <a href="#" class="d-flex justify-content-between list-group-item">Физика <span class="badge badge-secondary">23</span></a>
          <a href="#" class="d-flex justify-content-between list-group-item">Биология <span class="badge badge-secondary">32</span></a>
          <a href="#" class="d-flex justify-content-between list-group-item">Химия <span class="badge badge-secondary">11</span></a>
        </div>
      </div>
      <!-- /Sidebar widget -->

      <!-- Main content -->
      <div class="col-lg-9">

        <div class="widget-bg py-5 text-white rounded">
          <h2 class="display-4 px-3">Общереспубликанский тест</h2>
        </div>

        <hr>

        <h5 class="mb-4">Основной тест</h5>

        <div class="row">
          <div class="col-sm-6 col-lg-6">
            <a href="test.html" class="text-dark" style="text-decoration: none;">
              <div class="card mb-4">
                <div class="card-header">
                  <h6 class="mb-0">Русский язык (аналогия)</h6>
                </div>
                <div class="card-body row text-center">
                  <div class="col">
                    <div><b>30 мин</b></div>
                    <div class="text-uppercase text-muted small">Время</div>
                  </div>
                  <div class="col">
                    <div><b>30</b></div>
                    <div class="text-uppercase text-muted small">Задания</div>
                  </div>
                  <div class="col">
                    <div><b>15</b></div>
                    <div class="text-uppercase text-muted small">Просмотров</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-lg-6">
            <a href="test.html" class="text-dark" style="text-decoration: none;">
              <div class="card mb-4">
                <div class="card-header">
                  <h6 class="mb-0">Русский язык (аналогия)</h6>
                </div>
                <div class="card-body row text-center">
                  <div class="col">
                    <div><b>30 мин</b></div>
                    <div class="text-uppercase text-muted small">Время</div>
                  </div>
                  <div class="col">
                    <div><b>30</b></div>
                    <div class="text-uppercase text-muted small">Задания</div>
                  </div>
                  <div class="col">
                    <div><b>15</b></div>
                    <div class="text-uppercase text-muted small">Просмотров</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-lg-6">
            <a href="test.html" class="text-dark" style="text-decoration: none;">
              <div class="card mb-4">
                <div class="card-header">
                  <h6 class="mb-0">Русский язык (аналогия)</h6>
                </div>
                <div class="card-body row text-center">
                  <div class="col">
                    <div><b>30 мин</b></div>
                    <div class="text-uppercase text-muted small">Время</div>
                  </div>
                  <div class="col">
                    <div><b>30</b></div>
                    <div class="text-uppercase text-muted small">Задания</div>
                  </div>
                  <div class="col">
                    <div><b>15</b></div>
                    <div class="text-uppercase text-muted small">Просмотров</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
      <!-- /.col-lg-9 -->

    </div>
  </div>
</div>
{% endblock %}