{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- Banner -->
<section class="container">
	<div class="row">
		<div class="col-lg-4 text-center my-auto py-4">
			<h1 class="text-uppercase font-weight-bold">Онлайн тестинговая платформа</h1>
			<p class="lead">Ощутите погружение в технологии будущего.</p>
			<a class="btn btn-lg btn-gradient" href="/docs/4.4/components/navbar/" role="button">Начать тест &raquo;</a>
		</div>
		<div class="col-lg-8">
			<img class="img-fluid my-5" src="{% static 'images/test-macbook-pro-3.png' %}" alt="Тестинговая платформа Testlab"> 
		</div>
	</div>
</section>
<!-- /Banner --> 

<!-- Features -->
<section class="features-icons text-center py-5 bg-light">
	<h1 class="font-weight-light">Преимущества онлайн тестирования с TestLab</h1>
	<div class="gradient-line mb-5"></div>
	<div class="container">
		<div class="row">

			<div class="col-lg-4">
				<div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon mb-3">
						<img class="m-auto" src="https://image.flaticon.com/icons/svg/2468/2468263.svg" alt="" width="80">
					</div>
					<h5 class="mb-3">Кроссплатформенность</h5>
					<p class="mb-0">Преимущественно адаптирован под все устройства - будь то мобильный, веб или планшет</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon mb-3"> 
						<img class="m-auto" src="https://image.flaticon.com/icons/svg/2468/2468235.svg" alt="" width="80">
					</div>
					<h5 class="mb-3">Анализ результатов</h5>
					<p class="mb-0">С Testlab вы получаете точные результаты тестов при полной активности. Отслеживайте ваш текущий прогресс.</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="mx-auto mb-0 mb-lg-3">
					<div class="features-icons-icon mb-3">
						<img class="m-auto" src="https://image.flaticon.com/icons/svg/1472/1472030.svg" alt="" width="80">
					</div>
					<h5 class="mb-3">Интерактивный режим</h5>
					<p class="mb-0">Совершенствуйте свои навыки в интерактивном режиме. Не требуется загрузка или установка программного обеспечения.</p>
				</div>
			</div>

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</section>
<!-- /Features -->

<section class="py-5">
	<div class="container">
		<h1 class="text-center font-weight-light">Узнайте ваш уровень знаний за 5 минут</h1>
		<div class="gradient-line mb-5"></div>
		<div class="row">
			<div class="col-lg-6" style="background: url({% static 'images/6628617_preview.png' %}) center center no-repeat; background-size: cover;"></div>
			<div class="col-lg-6"> 
				<div class="card shadow bg-light">
					<div class="card-body p-0">
						<nav class="mt-2">
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-item nav-link ml-2 active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">ОРТ</a>
								<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">НЦТ</a>
								<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">TOEFL</a>
							</div>
						</nav>
						<div class="tab-content bg-white p-5" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
								<h4 class="font-weight-light mb-4">Подберите аналогию к заданной паре слов</h4>
								<p class="font-weight-bold text-muted">Взлететь - высота</p>
								<form action="">
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio1">участвовать - победа</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio2">делить - справедливость</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio3">красить - цвет</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio4">сидеть - усталость</label>
									</div>
									<button class="btn btn-gradient mt-4">Начать сейчас</button>
								</form>
							</div>
							<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Hello</div>
							<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">World</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 

<!-- Pricing -->
<section class="pricing py-5 bg-light">
	<div class="container">
		<h1 class="text-center font-weight-light">Оформите подписку, чтобы получить доступ</h1>
		<div class="gradient-line mb-5"></div>
		<div class="row">
			<!-- Free Tier -->
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">Бесплатно</h5>
						<h6 class="card-price text-center">0 с.<span class="period">/месяц</span></h6>
						<hr>
						<ul class="fa-ul">
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
						</ul>
						<a href="#" class="btn btn-block btn-primary text-uppercase">Подписаться</a>
					</div>
				</div>
			</div>
			<!-- Plus Tier -->
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">Стандарт</h5>
						<h6 class="card-price text-center">250 с.<span class="period">3 месяца</span></h6>
						<hr>
						<ul class="fa-ul">
							<li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
						</ul>
						<a href="#" class="btn btn-block btn-primary text-uppercase">Подписаться</a>
					</div>
				</div>
			</div>
			<!-- Pro Tier -->
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">Премиум</h5>
						<h6 class="card-price text-center">450 с.<span class="period">6/месяцев</span></h6>
						<hr>
						<ul class="fa-ul">
							<li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
						</ul>
						<a href="#" class="btn btn-block btn-primary text-uppercase">Подписаться</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}