{% extends 'base.html' %}

{% block content %}
<!-- Test -->
<section class="container">
  <h4 class="mt-3">Аналогия</h4>
  <hr class="mt-1">

  <div class="accordion my-3" id="accordion">
    <div class="card">
      <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
        <a class="card-title">Инструкция</a>
      </div>
      <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
        <p>Каждое задание состоит из пяти пар слов. Выделенная жирным шрифтом пара показывает образец отношений между двумя словами. Определите, какие отношения существуют между словами в этой паре, а затем выберите в вариантах ответа пару слов с такими же отношениями. Порядок слов в выбранном Вами ответе должен быть таким же, как и в образце.</p>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <h6 id="timer" class="text-right">30:00</h6>
  </div>

  <div class="jumbotron my-2 mb-5 py-4 bg-white border shadow-sm">

    <!-- <h4 class="font-weight-light mb-4">Подберите аналогию к заданной паре слов</h4> -->
    <p class="font-weight-bold text-muted">Взлететь - высота</p>

    <form action="">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">участвовать - победа</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">делить - справедливость</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio3">красить - цвет</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio4">сидеть - усталость</label>
      </div>
      <div class="custom-control custom-checkbox mt-4">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Пометить этот пункт для последующего просмотра</label>
      </div>
      <!-- <button class="btn btn-gradient mt-4">Начать сейчас</button> -->
    </form>

    <nav aria-label="Page navigation example" class="mt-4">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
  <!-- /Test -->
{% endblock %}
