<template>
  <div>
    <banner />
    <features-overview />
    <try-test />
    <pricing />
  </div>
</template>

<script>
  import Banner from "../components/home/Banner";
  import FeaturesOverview from "../components/home/FeaturesOverview";
  import TryTest from "../components/home/TryTest";
  import Pricing from "../components/home/Pricing";

  export default {
    components: {
      Banner,
      FeaturesOverview,
      TryTest,
      Pricing
    }
  }
</script>