<template>
  <div>
    <form class="form-signin mt-5">
      <h1 class="h4 font-weight-light mb-3">Логин</h1>
      <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control" id="email" placeholder="Ваш email">
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input type="password" class="form-control" id="password" placeholder="Ваш пароль">
      </div>
      <button class="btn btn-primary btn-block mb-2" type="submit">Вход</button>

      <router-link to="/register">Нет аккаунта?</router-link>
    </form>
  </div>
</template>

<script>
  export default {
    name: "Login"
  }
</script>

<style scoped>
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto auto 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  label {
    display: none;
  }
</style>