<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto my-sm-5">
        <h4 class="mt-3 text-center">{{help_info.title}}</h4>
        <hr>
        <div v-html="help_info.content"></div>
        <router-link :to="`/tests/${$route.params.test_id}`" class="btn btn-gradient">Начать тест</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "test-details",
    data(){
      return {
        help_info : {
          'id': 0, 'title' : '', 'content': '',
        }
      }
    },
    async mounted() {
      this.help_info = await this.$store.dispatch('getHelperInfoByTestId', this.$route.params.test_id);
      console.log(this.help_info);
    }
  }
</script>

<style scoped>

</style>
