<template>
  <div class="pt-4 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <Categories :categories="$store.getters.categories"/>
        </div>
        <div class="col-lg-9">
          <CategoryTests :categoryTests="$store.getters.subcategories"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Categories from "../components/test/Categories";
  import CategoryTests from "../components/test/CategoryTests";

  export default {
    components: {
      CategoryTests,
      Categories
    },

    data() {
      return {
      }
    },
    methods: {
    },
    async mounted() {
      const {category,subcategory} = this.$route.params;
      await this.$store.dispatch('fetchCategories', category);
      await this.$store.dispatch('fetchSubcategories', {category, subcategory});
    },
    watch: {
      '$route.params.category': async function () {
        await this.$store.dispatch('fetchCategories', this.$route.params.category);
      },
      '$route.params.subcategory': async function() {
        const {category,subcategory} = this.$route.params;
        await this.$store.dispatch('fetchSubcategories', {category, subcategory});
        this.categoryTests = this.$store.getters.subcategories;
      }
    }
  }
</script>

<style scoped>
</style>