.btn-gradient {
    color: white;
    background: linear-gradient(30deg,#0ca2e0 0%,#27dde8 100%);
}

.btn-gradient:hover {
    color: white;
    background: linear-gradient(30deg,#1cd9ea 0%,#0ca2e0 100%);
}

.gradient-line {
    width: 30%;
    height: 2px;
    margin: 0 auto;
    background: linear-gradient(30deg,#0ca2e0 0%,#27dde8 100%) !important;
}

.link {
    color: #6c757d;
}

.link:hover {
    color: #007bff;
}